@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap");
@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

:root {
  font-size: min(calc(.9em + 0.01vw), 2em);
  /* berekening waarin de font size veranderd gebasseert op vw */
  scroll-behavior: smooth;

  /* Colors */
}

body,
html {
  margin: 0;
  height: 100vh;
  scroll-snap-type: y mandatory;
  font-family: "Rajdhani";
}

.snap {
  scroll-snap-align: start;
}

.inner-box {
  width: 80%;
  margin-left: 10%;
}

/* Header styling */
.top-bar {
  position: fixed;
  color: black;
  width: 100%;
  display: flex;
  margin: 0;
  height: 5vh;
  background-color: transparent;
  font-size: 1.2em;
}

.name {
  width: 50%;
  float: left;
}

.name a{
  color: black;
  text-decoration: none;
}

.links {
  width: 50%;
  float: right;
  text-align: right;
}

.links a {
  text-decoration: none;
  color: black;
}

.links a:hover {
  border-bottom: 3px solid black;
}

.linkedIn-link {
  margin-left: 2em;
}

/* start styling */
#start {
  margin: 0;
  height: 100vh;
  display: grid;
  background-color: #f3f772;
}

#start h1 {
  color: black;
  font-size: 9em;
  width: 100%;
  margin-top: 1.5em;
  line-height: .8em;
  text-shadow: 4px 4px #e6bb13;
}

#start h2 {
  color: black;
  font-size: 3em;
  width: 70%;
  margin-top: 1.5em;
  line-height: 1em;
}

.border-draw {
  border-bottom: 10px solid black;
  width: 30%;
  margin-top: -5em;
  margin-bottom: 5em;
}

/* info styling */
#info {
  margin: 0;
  height: 100vh;
  display: grid;
  background-color: #262626;
}

#info p {
  color: white;
}

.p-element {
  font-size: 2em;
  font-family: monospace;
  margin-top: 10em;
}

.p-tag {
  color: #5c85d6;
  margin: 0;
  padding: 0;
}

.p-data {
  padding-left: 1.7em;
  padding-right: .1em;
  margin: 0;
}

.typing {
	border-right: 2px solid white;
	width: calc(0.55em * 54); 
	width: 54ch;
	white-space: nowrap;
	overflow: hidden;
	  -webkit-animation: typing 3s steps(54, end), blink-caret .5s step-end infinite alternate;
}

/* work styling */
#work {
  margin: 0;
  height: 100vh;
  display: grid;
  align-items: center;
	justify-content: center;
  background-color: lightblue;
}

/* footer styling */
footer {
  margin: 0;
  height: 100vh;
  display: grid;
  align-items: center;
	justify-content: center;
  background-color: #5c85d6;
}