@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap");
@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

body,
html {
  margin: 0;
  height: 100vh;
  scroll-snap-type: y mandatory;
  font-family: "Rajdhani";
}

.snap {
  scroll-snap-align: start;
}

/* Header styling */
.top-bar {
  position: fixed;
  color: white;
  width: 100%;
  display: flex;
  margin: 0;
  height: 5vh;
  background-color: transparent;
}

.name {
  padding-left: 4em;
  width: 50%;
}

/* start styling */
#start {
  margin: 0;
  height: 100vh;
  display: grid;
  background-color: #262626;
}

.title {
  height: 100vh;
  width: 90%;
  margin-left: 5%;
	align-items: center;
	justify-content: center;
}

#start h1 {
  color: #f1f1f1;
  font-size: 9em;
  text-align: center;
  width: 100%;
  margin-top: 1.5em;
  line-height: .8em;
}

#start p {
  color: white;
}

.p-element {
  margin-left: 7em;
  font-size: 2em;
  font-family: monospace;
}

.p-tag {
  color: #5c85d6;
  margin: 0;
  padding: 0;
}

.p-data {
  padding-left: 1.7em;
  padding-right: .1em;
  margin: 0;
}

.typing {
	border-right: 2px solid white;
	width: calc(0.55em * 54); 
	width: 54ch;
	white-space: nowrap;
	overflow: hidden;
	  -webkit-animation: typing 3s steps(54, end), blink-caret .5s step-end infinite alternate;
}

/* info styling */
#info {
  margin: 0;
  height: 100vh;
  display: grid;
  align-items: center;
	justify-content: center;
  background-color: #5c85d6;
}

/* work styling */
#work {
  margin: 0;
  height: 100vh;
  display: grid;
  align-items: center;
	justify-content: center;
  background-color: lightblue;
}

/* footer styling */
footer {
  margin: 0;
  height: 100vh;
  display: grid;
  align-items: center;
	justify-content: center;
  background-color: yellow;
}